* {
    margin: 0;
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Style for Header and Navigation: */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-bottom: 63px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 220px 0;
}

header h2 {
    font-weight: 800;
    font-size: 45px;
}

header h2 span {
    color: #FD6E0A;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin-left: 51px;
    font-weight: 400;
    font-size: 20px;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    padding: 20px 35px;
    border: 0;
    border-radius: 5px;
}

/* Style for Banner */

.banner {
    display: flex;
    align-items: center;
    margin: 0 220px;
}

.banner .banner-left {
    width: 50%;
}

.banner h3 {
    font-size: 35px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner h1 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    text-align: justify;
}

.banner img {
    width: 50%;
    margin-left: 100px;
}

/* Style for main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-me {
    padding: 131px 157px;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}

main .about-me .my-info {
    display: flex;
    justify-content: space-around;
}

main .about-me .my-info .my-property {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

main .about-me .my-info .my-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* What I Do Section */

.what-i-do .section-description {
    margin: 0 245px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.my-skill {
    display: flex;
    justify-content: space-evenly;
}

.skill-card {
    background: #FFFFFF;
    margin: 0 24px;
    padding: 30px;
}

.skill-name {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* My Resume Section */

.my-resume {
    /* background: #1E1E1E; */
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-resume h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 120px;
}

.resume-container {
    display: flex;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-subtitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}

.work-time {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

hr {
    width: 518px;
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.my-resume .btn-primary {
    text-align: center;
}

/* Contact Style */

.contact-me {
    background: #FFF8F3;
    padding-top: 130px;
    display: flex;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 20px;
}

.contact-me p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.contact-me a {
    margin-right: 20px;
}

.form-block {
    display: block;
    width: 461px;
    margin-bottom: 24px;
    padding: 20px;
}